*.test.*
src/
lib/examples/
mock/
launcher/
tsconfig.json
.babelrc.json
.backup/
.*.swp
._*
.DS_Store
.hidden
.nomedia
.git
.github
.gitattributes
.hg
.npmrc
.lock-wscript
.svn
.wafpickle-*
config.gypi
CVS
npm-debug.log
tslint.json
.env
.editorconfig
.*.env
gulpfile.js
.eslintrc.*
.hidden
.nomedia